#section-one{
    /* background: var(--NAVY-BLUE, #2E2F42); */
    background: #FFF;
}
#section-one[]{

}
main{
    background: #2E2F42;
}
main h1{
    color: #FFF;
        text-align: center;
    
        /* Header 1 */
        font-family: Roboto;
        font-size: 56px;
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 107.143% */
        letter-spacing: 1.12px;
    
}
#section-two{
    background:#F4F4FD;
}
